<%- include('includes/header') %>
<%- include('includes/navbar') %>

	<div class="starter-template">
    	<h1>Here are a few recommendations</h1><br>
  	</div>

	<% for(var i=0; i<data.length; i++){ %>
		<div>
			<strong><%-data[i].username%></strong>

			<a href="/users/follow?id=<%-data[i].uuid%>">follow</a>
			<a href="/users/unfollow?id=<%-data[i].uuid%>">unfollow</a>
		</div>
		<br>
	<%}%>
</div>

<%- include('includes/footer') %>