<%- include('includes/header') %>


<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SelfieStick</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><%=user.username%><span class="sr-only">(current)</span></a></li>
              <li ><a href="/users/peopleFollow">Follow</a></li>
                    <li ><a href="/users/myFollowers">My Followers</a></li>
              <li><a href="/users/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    
      <div class="starter-template">
        <h1>Welcome, <%=user.username%></h1>
      </div>
      <%- messages() %>
      <div>
      <form action="/users/upload" method="post" enctype="multipart/form-data">
  <input type="text" class="form-control" id="asset_message" placeholder="What's up with you today"><br>
  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
<div class="form-group">
      
              <p class="help-block">Only image files accepted.</p>
            </div>
<input type="submit">
</form>
          
      </div>
    </div>

<%- include('includes/footer') %>