<%- include('includes/header') %>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SelfieStick</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><%=user.username%><span class="sr-only">(current)</span></a></li>
              <li ><a href="/users/peopleFollow">Follow</a></li>
                    <li ><a href="/users/myFollowers">My Followers</a></li>
              <li><a href="/users/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    
      <div class="starter-template">
        <h1>Welcome, <%=user.username%></h1>
      </div>
      <%- messages() %>
      <div>
      <form action="/users/upload" method="POST" encType="multipart/form-data">
        <div class="form-group">
          <input type="text" class="form-control" name="asset_message" placeholder="What's up with you today" required autofocus>
        </div>
        <div class="form-group">
          <input type="file" name="asset_image">
          <p class="help-block">Only image files accepted.</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
      <% for (var abc in data) {%>
      <% for (var post in data[abc].posts) {%>
          <p><%= data[abc].posts[post].message%></p>
          <img src=<%= data[abc].posts[post].filepath%> height="42" width="42">
         <br>
        <a href="/users/likePost?id=<%-data[abc].posts[post].post_id%>"> <span class="glyphicon glyphicon-heart"> </a> </span><%= data[abc].posts[post].likes %>
          <% }%>  
      <% }%>
      
          <br>

      </div>
    </div>

<%- include('includes/footer') %>