<%- include('includes/header') %>
<%- include('includes/navbar') %>

    
      <div class="starter-template">
        <h1>Welcome, <%=user.username%></h1>
      </div>
      <%- messages() %>
      <div>
      <form action="/users/upload" method="POST" encType="multipart/form-data">
        <div class="form-group">
          <input type="text" class="form-control" name="asset_message" placeholder="What's up with you today" required autofocus>
        </div>
        <div class="form-group">
          <input type="file" name="asset_image">
          <p class="help-block">Only image files accepted.</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
      
      <% for (var abc in data) {%>
          <p><i>  <%= data[abc].user_name %></p>
          <p><%= data[abc].message%></p>
          <img src=<%= data[abc].filepath%> height="42" width="42">
         <br>
        <a href="/users/likePost?id=<%-data[abc].post_id%>"> <span class="glyphicon glyphicon-heart"> </a> </span><%= data[abc].likes %>
            
      <% }%>
      
          <br>

      </div>
    </div>

<%- include('includes/footer') %>