<%- include('includes/header') %>
<%- include('includes/navbar') %>
      
	<div class="starter-template">
    	<h1>Here are a few recommendations</h1><br>
  	</div>

	<% for(var i=0; i<data.length; i++){ %>
		<div class="col-md-4">
			<strong><%-data[i].username%></strong>
		</div>
		<div class="col-md-4">
			<a href="/users/unfollow?id=<%-data[i].uuid%>">unfollow</a>
		</div>
		<br>
	<%}%>
</div>

<%- include('includes/footer') %>